@model TipoProduto
@using BotecoPoker.Dominio.Entidades
@{
    var erro = (ViewBag?.erro == "" || ViewBag?.erro == null) ? "" : ViewBag.erro;
    var classeErro = (erro == "" || erro == null) ? "" : "alert alert-danger";
}
<br />
<div align="right">
    <a type="button" class="btn btn-dark btn-lg" href="@Url.Action("FiltroTipoProduto","TipoProduto")">Voltar</a>
</div>
<form class="form-control-lg" method="post" action="@Url.Action("CadastroTipoProduto","TipoProduto")">

    <h1 align="center">Cadastro de Tipos de Produtos</h1>
    <div class="@classeErro" role="alert">
        @erro
    </div>
    <fieldset class="form-control-lg">

        <span class="form-row">
            <span class="form-group col-md-3">
                <label for="Nome" class=""><b>Nome</b></label>
                <input type="text" name="Nome" class="form-control" placeholder="Nome do Produto" required maxlength="30" value="@Model.Nome">
            </span>
        </span>
    </fieldset>
    <span class="">
        <input type="submit" class="btn-dark btn-lg btn-block" value="Cadastrar" />
    </span>
</form>
